openapi: 3.0.3
info:
  title: Accurate API
  version: "1.0.0"
servers:
  - url: https://api.accuratefasteners.com
paths:
  # --- keep your existing paths here ---
  /v1/sales/orders:
    post:
      tags: [Sales Orders]
      summary: Create Sales Order(s)
      description: Creates one or more sales orders by inserting header and line records into
        the TMP_SRX_Header and TMP_SRX_Line staging tables. The request accepts either a single
        order object with `header` and `lines` properties or an `orders` array containing one or
        more of those objects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SalesOrder'
                - type: object
                  properties:
                    orders:
                      type: array
                      minItems: 1
                      items:
                        $ref: '#/components/schemas/SalesOrder'
                  required: [orders]
            examples:
              singleOrderMinimal:
                summary: Single order with only mandatory fields
                value:
                  header:
                    customerId: 123456
                    companyId: ACC
                    salesLocationId: 1
                    shipToId: 123001
                    contractNumber: 27
                  lines:
                    - lineNo: 1
                      itemId: SKU-ABC-123
                      unitQuantity: 5
                      unitOfMeasure: EA
              singleOrderPriced:
                summary: Single order priced per line without a contract number
                value:
                  header:
                    customerId: 1001
                    companyId: ACU
                    salesLocationId: 1
                    shipToId: 2001
                    # contractNumber intentionally omitted
                  lines:
                    - lineNo: 1
                      itemId: SKU-ABC-123
                      unitQuantity: 5
                      unitOfMeasure: EA
                      unitPrice: "12.5"
            batchFull:
              summary: Batch insert with complete header/lines
              value:
                orders:
                  - header:
                        customerId: 1001
                        companyId: ACU
                        salesLocationId: 4
                        customerPoNumber: PO-98765
                        approved: "Y"
                        shipToId: 123001
                        contractNumber: 27
                        quote: "N"
                        applyBuilderAllowanceFlag: "N"
                        willCall: "N"
                        orderDate: "20251016"
                        requestedDate: "20251020"
                        promiseDate: "20251030"
                        # ... include any other non-derived header fields you accept ...
                      lines:
                        - lineNo: 1
                          itemId: SKU-ABC-123
                          unitQuantity: 5
                          unitOfMeasure: EA
                          unitPrice: "10.5"
                          taxItem: "N"
                          okToInterchange: "N"
                          scheduled: "N"
                          manualPriceOverride: "N"
                          commissionCostEdited: "N"
                          otherCostEdited: "N"
                          captureUsage: "N"
                        - lineNo: 2
                          itemId: SKU-XYZ-789
                          unitQuantity: 2
                          unitOfMeasure: EA
                          unitPrice: "25"
                          taxItem: "Y"
                          okToInterchange: "N"
                          scheduled: "N"
                          manualPriceOverride: "N"
                          commissionCostEdited: "N"
                          otherCostEdited: "N"
                          captureUsage: "N"
      responses:
        '201':
          description: Sales order(s) accepted and staged successfully.
          content:
            application/json:
              schema:
                type: object
                required: [message, orders]
                properties:
                  message: { type: string }
                  orders:
                    type: array
                    items:
                      type: object
                      required: [importSetNo, linesInserted]
                      properties:
                        importSetNo:   { type: string }
                        linesInserted: { type: integer }
              examples:
                created:
                  summary: Created response
                  value:
                    message: Sales orders Accepted
                    orders:
                      - importSetNo: "12345"
                        linesInserted: 2
        '400':
          description: Validation error (missing required fields, invalid data, or empty lines).
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
                    description: Explanation of what validation failed.
              example:
                error: Order 1 missing required field(s): companyId
        '401': { description: Unauthorized. }
        '500': { description: Server error. }
  /v1/inventory/items:
    get:
      tags: [Inventory]
      summary: List inventory items
      description: |
        Returns inventory item identifiers and descriptions from `inv_mast`. When `paging=true`
        the endpoint also returns the total matching records and page count. By default the
        endpoint limits results to 100 records and sorts by `item_id` ascending.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 1-based page number. Only used when `paging=true`.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            default: 100
          description: Number of records per page (or maximum records returned when `paging=false`).
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Sort order applied to `item_id`.
        - in: query
          name: paging
          schema:
            type: boolean
            default: false
          description: Toggle cursor pagination with total counts. When false, only the first `limit` records are returned.
        - in: query
          name: inactive
          schema:
            type: string
            enum: ['true', 'false']
          description: Filter items by their `inactive` flag. Use `inactive=false` to retrieve active items only.
      responses:
        '200':
          description: Successfully retrieved a page of inventory items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemListResponse'
              examples:
                default:
                  summary: Items page
                  value:
                    data:
                      - item_id: "A-100"
                        item_desc: "Stainless Steel Bolt"
                      - item_id: "A-101"
                        item_desc: "Stainless Steel Nut"
                    totalCount: 2
                    page: 1
                    totalPages: 1
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
      security: []
  /v1/inventory/items/{item_id}:
    get:
      tags: [Inventory]
      summary: Get inventory item details
      description: Retrieves a single inventory item with additional metadata from `inv_mast`.
      parameters:
        - in: path
          name: item_id
          required: true
          schema:
            type: string
            maxLength: 50
          description: Inventory item identifier.
      responses:
        '200':
          description: Inventory item located.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemDetail'
              example:
                item_id: "A-100"
                inv_mast_uid: 123456
                item_desc: "Stainless Steel Bolt"
                delete_flag: "N"
                weight: 1.25
                net_weight: 1.2
                inactive: "N"
                default_sales_discount_group: "STD"
                extended_desc: "Box of 25 stainless bolts"
                keywords: "bolt,stainless"
                base_unit: "EA"
                commodity_code: "BOLTS"
                length: 4
                width: 1
                height: 1
        '404':
          description: Item not found.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
              example:
                error: Item not found
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error:
                    type: string
      security: []

components:
  # --- keep your existing components here ---
  schemas:
    # keep any existing schemas untouched; the following are additive
    SalesOrderHeader:
      type: object
      description: Sales Order header (mapped to TMP_SRX_Header).
      properties:
        customerId:
          type: number
          format: double
          description: "Customer_ID. Required."
        customerName:
          type: string
          maxLength: 50
          description: "Customer_Name."
        companyId:
          type: string
          maxLength: 8
          description: "Company_ID. Required."
        salesLocationId:
          type: number
          format: double
          description: "Sales_Location_ID. Required."
        customerPoNumber:
          type: string
          maxLength: 50
          description: "Customer_PO_Number."
        contactId:
          type: string
          maxLength: 16
          description: "Contact_ID."
        contactName:
          type: string
          maxLength: 50
          description: "Contact_Name."
        taker:
          type: string
          maxLength: 30
          description: "Taker."
        jobName:
          type: string
          maxLength: 40
          description: "Job_Name."
        orderDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Order_Date formatted as yyyyMMdd."
        requestedDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Requested_Date formatted as yyyyMMdd."
        quote:
          type: string
          maxLength: 1
          description: "Quote flag (Y/N)."
        approved:
          type: string
          maxLength: 1
          default: "N"
          description: "Approved flag (Y/N). Defaults to \"N\" when omitted."
        shipToId:
          type: number
          format: double
          description: "Ship_To_ID. Required."
        shipToName:
          type: string
          maxLength: 50
          description: "Ship_To_Name."
        shipToAddress1:
          type: string
          maxLength: 50
          description: "Ship_To_Address_1."
        shipToAddress2:
          type: string
          maxLength: 50
          description: "Ship_To_Address_2."
        shipToCity:
          type: string
          maxLength: 50
          description: "Ship_To_City."
        shipToState:
          type: string
          maxLength: 50
          description: "Ship_To_State."
        shipToZipCode:
          type: string
          maxLength: 10
          description: "Ship_To_Zip_Code."
        shipToCountry:
          type: string
          maxLength: 50
          description: "Ship_To_Country."
        sourceLocationId:
          type: number
          format: double
          description: "Source_Location_ID."
        carrierId:
          type: number
          format: double
          description: "Carrier_ID."
        carrierName:
          type: string
          maxLength: 50
          description: "Carrier_Name."
        route:
          type: string
          maxLength: 255
          description: "Route."
        packingBasis:
          type: string
          maxLength: 16
          description: "Packing_Basis."
        deliveryInstructions:
          type: string
          maxLength: 255
          description: "Delivery_Instructions."
        terms:
          type: string
          maxLength: 2
          description: "Terms."
        termsDesc:
          type: string
          maxLength: 20
          description: "Terms_Desc."
        willCall:
          type: string
          maxLength: 1
          description: "Will_Call flag (Y/N)."
        class1:
          type: string
          maxLength: 8
          description: "Class_1."
        class2:
          type: string
          maxLength: 8
          description: "Class_2."
        class3:
          type: string
          maxLength: 8
          description: "Class_3."
        class4:
          type: string
          maxLength: 8
          description: "Class_4."
        class5:
          type: string
          maxLength: 8
          description: "Class_5."
        rmaFlag:
          type: string
          maxLength: 1
          description: "RMA_Flag."
        freightCode:
          type: string
          maxLength: 30
          description: "Freight_Code."
        thirdPartyBillingFlagDesc:
          type: string
          maxLength: 40
          description: "Third_Party_Billing_Flag_Desc."
        captureUsageDefault:
          type: string
          maxLength: 1
          description: "Capture_Usage_Default flag (Y/N)."
        allocate:
          type: string
          maxLength: 1
          description: "Allocate flag (Y/N)."
        contractNumber:
          type: string
          maxLength: 255
          description: "Contract_Number. Required unless unitPrice is provided on every line item."
        invoiceBatchNumber:
          type: string
          maxLength: 255
          description: "Invoice_Batch_Number."
        shipToEmailAddress:
          type: string
          maxLength: 255
          format: email
          description: "Ship_To_Email_Address."
        setInvoiceExchangeRateSourceDesc:
          type: string
          maxLength: 40
          description: "Set_Invoice_Exchange_Rate_Source_Desc."
        shipToPhone:
          type: string
          maxLength: 20
          description: "Ship_To_Phone."
        currencyId:
          type: string
          maxLength: 255
          description: "Currency_ID."
        applyBuilderAllowanceFlag:
          type: string
          maxLength: 1
          description: "Apply_Builder_Allowance_Flag (Y/N)."
        quoteExpirationDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Quote_Expiration_Date formatted as yyyyMMdd."
        promiseDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Promise_Date formatted as yyyyMMdd."
      required:
        - customerId
        - companyId
        - salesLocationId
        - shipToId

    SalesOrderLine:
      type: object
      description: Sales Order line (mapped to TMP_SRX_Line).
      properties:
        lineNo:
          type: number
          format: double
          description: "Line_No. Required."
        itemId:
          type: string
          maxLength: 40
          description: "Item_ID. Required."
        unitQuantity:
          type: number
          format: double
          description: "Unit_Quantity. Required."
        unitOfMeasure:
          type: string
          maxLength: 8
          description: "Unit_of_Measure. Required."
        unitPrice:
          type: string
          maxLength: 255
          description: "Unit_Price. Required when the order header omits contractNumber."
        extendedDescription:
          type: string
          maxLength: 255
          description: "Extended_Description."
        sourceLocationId:
          type: number
          format: double
          description: "Source_Location_ID."
        shipLocationId:
          type: number
          format: double
          description: "Ship_Location_ID."
        productGroupId:
          type: string
          maxLength: 8
          description: "Product_Group_ID."
        supplierId:
          type: number
          format: double
          description: "Supplier_ID."
        supplierName:
          type: string
          maxLength: 50
          description: "Supplier_Name."
        requiredDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Required_Date formatted as yyyyMMdd."
        expediteDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Expedite_Date formatted as yyyyMMdd."
        willCall:
          type: string
          maxLength: 1
          description: "Will_Call flag (Y/N)."
        taxItem:
          type: string
          maxLength: 1
          description: "Tax_Item flag (Y/N)."
        okToInterchange:
          type: string
          maxLength: 1
          description: "OK_to_Interchange flag (Y/N)."
        pricingUnit:
          type: string
          maxLength: 8
          description: "Pricing_Unit."
        commissionCost:
          type: string
          maxLength: 255
          description: "Commission_Cost."
        otherCost:
          type: string
          maxLength: 255
          description: "Other_Cost."
        poCost:
          type: string
          maxLength: 255
          description: "PO_Cost."
        disposition:
          type: string
          maxLength: 1
          description: "Disposition."
        scheduled:
          type: string
          maxLength: 1
          description: "Scheduled flag (Y/N)."
        manualPriceOverride:
          type: string
          maxLength: 1
          description: "Manual_Price_Override flag (Y/N)."
        commissionCostEdited:
          type: string
          maxLength: 1
          description: "Commission_Cost_Edited flag (Y/N)."
        otherCostEdited:
          type: string
          maxLength: 1
          description: "Other_Cost_Edited flag (Y/N)."
        captureUsage:
          type: string
          maxLength: 1
          description: "Capture_Usage flag (Y/N)."
        tagAndHoldClassId:
          type: string
          maxLength: 8
          description: "Tag_and_Hold_Class_ID."
        contractBinId:
          type: string
          maxLength: 8
          description: "Contract_Bin_ID."
        contractNo:
          type: string
          maxLength: 8
          description: "Contract_No."
        allocationQty:
          type: number
          format: double
          description: "Allocation_Qty."
        promiseDate:
          type: string
          pattern: '^[0-9]{8}$'
          description: "Promise_Date formatted as yyyyMMdd."
      required:
        - lineNo
        - itemId
        - unitQuantity
        - unitOfMeasure

    SalesOrder:
      type: object
      description: Sales Order payload with header and lines.
      properties:
        header:
          $ref: '#/components/schemas/SalesOrderHeader'
        lines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SalesOrderLine'
      required: [header, lines]
    InventoryItemSummary:
      type: object
      properties:
        item_id:
          type: string
          description: Item identifier from `inv_mast.item_id`.
        item_desc:
          type: string
          description: Item description from `inv_mast.item_desc`.
    InventoryItemListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItemSummary'
        totalCount:
          type: integer
          description: Total number of matching items when paging is enabled, otherwise count of the returned records.
        page:
          type: integer
        totalPages:
          type: integer
      required: [data, totalCount, page, totalPages]
    InventoryItemDetail:
      type: object
      properties:
        item_id:
          type: string
        inv_mast_uid:
          type: integer
          nullable: true
        item_desc:
          type: string
        delete_flag:
          type: string
        weight:
          type: number
          nullable: true
        net_weight:
          type: number
          nullable: true
        inactive:
          type: string
        default_sales_discount_group:
          type: string
          nullable: true
        extended_desc:
          type: string
          nullable: true
        keywords:
          type: string
          nullable: true
        base_unit:
          type: string
          nullable: true
        commodity_code:
          type: string
          nullable: true
        length:
          type: number
          nullable: true
        width:
          type: number
          nullable: true
        height:
          type: number
          nullable: true
